*{
  background-color: #FFE8D6;
}

.hf_lines{
  border-bottom: 2px solid rgba(183, 183, 164, 0.5);
}

/*line after heading*/
.mc{
  border-bottom: 2px solid rgba(183, 183, 164, 0.5);
  margin-left: 215px;
  margin-right: 215px;
}

a{
  font-family: Montserrat;
}


/*.logo{*/
/*  width: 334px;*/
/*  height: 100px;*/
/*}*/

/*#logo_text{*/
/*  font-family: Montserrat;*/
/*  font-style: normal;*/
/*  font-weight: bold;*/
/*  font-size: 30px;*/
/*  line-height: 37px;*/
/*}*/