<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CleverInvest</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css"/>
    <link rel="stylesheet" href="~/css/mainpage.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 mc pl-0">
        <div class="container shift_top ml-0">
            <a class="navbar-brand mainLink ml-0 mr-0" asp-area="" asp-page="/Index"><img src="/images/logo_picture.svg" alt="logo" id="logo"> Clever Invest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav" row>
                    <li class="nav-item col-xs-2">
                        <a class="nav-link text-dark a_nav" id="firstLink" asp-area="" asp-page="/Investments/Investments">Инвестиции</a>
                    </li>
                    <li class="nav-item col-xs-2">
                        <a class="nav-link text-dark a_nav" asp-area="" asp-page="/Investments/Investments">Акции</a>
                    </li>
                    <li class="nav-item col-xs-2">
                        <a class="nav-link text-dark a_nav" asp-area="" asp-page="/Investments/InvestmentsHistory">Облигации</a>
                    </li>
                    <li class="nav-item col-xs-2">
                        <a class="nav-link text-dark a_nav" asp-area="" asp-page="/Privacy">Портфель</a>
                    </li>
                    <li class="nav-item col-xs-2">
                        <a class="nav-link text-dark a_nav" asp-area="" asp-page="/Privacy">Контакты</a>
                    </li>
                </ul>
            </div>
                <div id="login_register">
                    <table>
                        <td>
                            <a asp-area="" asp-page="">Войти</a>
                        </td>
                        <td id ="separator">|</td>
                        <td>
                            <a asp-area="" asp-page="">Регистрация</a>
                        </td>
                    </table>
                </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer class="border-top footer text-muted mcf" id ="footer">
    <div class="container">
        &copy; 2021 - ClevInvest. Елагин Марат.
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>