@page
@model IndexModel
@{
    ViewData["Title"] = "ClevInvest";
}
<div class="row flex-row-reverse">
    <div class="col-12 col-md-7 mt-5 p-0">
        <img src="/images/InvestIsSimple.jpg" class="imageStyle img-fluid" alt="Invest is simple!">
    </div>
    <div class="welcomeText col-md-5">
        <h1>Инвестиции это просто!</h1>
        <p class="col-md-10 pl-3 pr-3 mr-5">
            Позаботьтесь о своём будущем!
            Начните инвестировать прямо сейчас.
            Наш сайт поможет Вам разобраться
            и начать формировать финансовую независимость!
        </p>
    </div>
</div>

